ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  .right {
    position: absolute;
    right: 0px;
    width: 300px;
    border: 3px solid #111;
    padding: 10px;
  }
  .left {
    float: right;
    width: 300px;
    border: 3px solid #111;
    padding: 10px;
  }
  .img1 {
    float: right;
  }
  
  .img2 {
    float: right;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .img3 {
    float: left;
  }
  .img4 {
    float: center;
  }


.tam{
  width: 100% !important; 
  max-width: 500px !important; 
}
.boxcenter{
  width: 100%;
  text-align:center;
}
